{:aliases
   {:build/main {:build-with {:aliases [:foss/jessica-spano],
                              :class-dir "target/classes",
                              :clojars? true,
                              :project "deps.edn",
                              :repo "jessica-spano",
                              :scm-url "github.com",
                              :src-dirs ["src"],
                              :username "patbrown",
                              :version "0.1.0"},
                 :deps {babashka/process {:mvn/version "0.5.22"},
                        io.github.clojure/tools.build {:mvn/version "0.10.6"}},
                 :extra-paths ["build"],
                 :ns-default build},
    :deploy/main {:exec-args {:artifact "target/deploy.jar",
                              :installer :remote,
                              :pom-file "target/pom.xml",
                              :sign-releases? true},
                  :exec-fn deps-deploy.deps-deploy/deploy,
                  :extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}},
    :foss/jessica-spano
      {:build-with {:aliases [:foss/jessica-spano],
                    :repo "jessica-spano",
                    :version "0.1.0"},
       :extra-deps {camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"},
                    exoscale/coax {:mvn/version "2.0.0"},
                    medley/medley {:mvn/version "1.4.0"},
                    net.cgrand/macrovich {:mvn/version "0.2.1"},
                    orchestra/orchestra {:mvn/version "2021.01.01-1"},
                    org.clojure/clojure {:mvn/version "1.12.0"},
                    tick/tick {:mvn/version "0.7.5"},
                    town.lilac/pyramid {:mvn/version "4.0.0"}},
       :extra-paths ["src"]},
    :run/repl
      {:extra-deps {cider/cider-nrepl {:mvn/version "0.47.0"},
                    nrepl/nrepl {:mvn/version "1.1.0"},
                    refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}},
       :main-opts
         ["-m" "nrepl.cmdline" "-b" "0.0.0.0" "-p" "8675" "--middleware"
          "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}},
 :build-with {:aliases [:foss/jessica-spano],
              :class-dir "target/classes",
              :clojars? true,
              :project "deps.edn",
              :repo "jessica-spano",
              :scm-url "github.com",
              :src-dirs ["src"],
              :username "patbrown",
              :version "0.1.0"}}
